<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Slot Market</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/booking-detail">Booking Detail</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/documents">Documents</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <!-- แสดงปุ่ม Login และ Signup ถ้ายังไม่ได้ล็อกอิน -->
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link btn btn-dark me-2" routerLink="/login"><i class="bi bi-key"></i> Login</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link btn btn-success" routerLink="/register"><i class="bi bi-person-fill-add"></i> Register</a>
      </li>
    
      <!-- แสดงชื่อผู้ใช้และปุ่ม Logout เมื่อล็อกอินแล้ว -->
      <li class="nav-item dropdown" *ngIf="isLoggedIn">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Welcome, {{ username }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
          <li *ngIf="userRole === 'admin'">
            <a class="dropdown-item" routerLink="/management">Management</a>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" (click)="onLogout()">Logout</a></li>
        </ul>
      </li>
    </ul>
    
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
