<div class="container mt-5">
  <div class="card mx-auto shadow" style="width: 36rem;">
    <div class="card-header bg-warning text-white text-center">
      <h4>Payment Information</h4>
    </div>
    <div class="card-body">
      <div *ngIf="booking">
        <p>Booking ID: <span>{{ booking.id }}</span></p>
        <p>Firstname: <span>{{ booking.firstname }}</span></p>
        <p>Lastname: <span>{{ booking.lastname }}</span></p>
        <p>Food Type: <span>{{ booking.foodtype }}</span></p>
        <p>Slot: <span>{{ booking.slot_name }}</span></p> 
        <p>Total Amount: <span>{{ booking.total_amount }} THB</span></p>

        <div class="mt-4">
          <img src="assets/payment.png">
        </div>

        <button class="btn btn-primary mt-4" (click)="confirmPayment()">Confirm Payment</button>
      </div>
    </div>
  </div>
</div>
